version: 2
updates:
  - package-ecosystem: docker
    directories:
      - grpc/
      - ldap/
    schedule:
      interval: daily

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily